<div class="container">
  <div class="col-12">
    <table class="styled-table table table-bordered table-secondary">
      <thead>
        <tr>
          <th>Image Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let img of cartItems; index as i">
          <td>{{ img.imageName }}</td>
          <td>{{ img.imageDescription }}</td>
          <td>{{ img.price | currency }}</td>
          <td>
            <img
              class="img-thumbnail"
              [src]="'data:image/jpeg;base64,' + img.imageData"
              alt="{{ img.imageName }}"
              style="max-width: 100px; max-height: 100px;"
            />
          </td>
          <td>
            <input
              type="number"
              min="1"
              [value]="img.quantity"
              (change)="updateQuantity(img, $any($event.target).value)"
              class="form-control"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeItem(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total-price mt-3">
      <h3>Total Price: {{ totalPrice | currency }}</h3>
    </div>
  </div>
</div>
